* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 223, 235);
  font-family: sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Header */

.header {
  height: 8rem;
  width: 100%;
  background-color: rgb(47, 46, 63);
  position: relative;
  display: flex;
  justify-content: center;
}

.filter {
  height: 4rem;
  width: 950px;
  background-color: white;
  position: absolute;
  bottom: -2rem;
  border-radius: 7px;
  box-shadow: 0 0 20px -1px rgb(63, 61, 83);
}

/* Main */

.main {
  width: 950px;
  margin-top: 6rem;
}

.card {
  height: 8rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1.5rem;
  border-radius: 7px;
  box-shadow: 0 10px 20px 1px rgb(208, 206, 221);
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

.info {
  height: 88px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.company {
  display: flex;
  align-items: center;
}

.company-name {
  font-size: 15px;
  font-weight: 500;
  color: rgb(65, 65, 99);
}

.new-badge {
  background-color: rgb(255, 99, 37);
  margin-left: 17px;
  font-size: 13px;
  padding: 3px 7px;
  border-radius: 50px;
  font-weight: 500;
  color: white;
}

.featured-badge {
  background-color: rgb(61, 70, 117);
  margin-left: 7px;
  font-size: 13px;
  padding: 3px 7px;
  border-radius: 50px;
  font-weight: 500;
  color: white;
}

.position {
  color: rgb(65, 65, 99);
  font-size: 1.5rem;
}

.details {
  display: flex;
  color: rgb(141, 141, 141);
}

.contract-div,
.location,
.divider {
  margin-left: 10px;
}

.filter {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.filter:hover {
  transform: scale(1.02);
}

.filter h1 {
  color: rgb(161, 161, 161);
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  user-select: none;
}

.filter-popup-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.filter-popup {
  height: 25rem;
  width: 25rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  color: rgb(65, 65, 99);
}

.filter-popup h1 {
  text-align: center;
}

.filter-select,
.role-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-select {
  margin-top: 2rem;
}

.select-badge {
  margin-left: 10px;
  background-color: rgb(243, 243, 243);
  padding: 5px 8px;
  border-radius: 50px;
  font-size: 14px;
  color: rgb(57, 57, 95);
}
